.services{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0px;
    padding-bottom: 25px;
}
.firstcard{
    flex-basis: 30%;
    height: 400px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
.firstcard:hover{
    opacity: 0.9;
    transform: scale(1.02);
}
.secondcard:hover{
    opacity: 0.9;
    transform: scale(1.02);
}
.thirdcard:hover{
    opacity: 0.9;
    transform: scale(1.02);
}
.text3{
    flex-basis: 40%;
    width: 90%;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}
.header{
    flex-basis: 10%;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}
.pservices{
    color: white;
    z-index: 999;
    line-height: 30px;
    font-size: 30px;
    font-weight: 600;
    padding-top: 30px;
}
.servicescon{
   background-image: url("../../gradientfill2.jpg");
   background-size: cover;
   background-blend-mode: soft-light;
}
.secondcard{
    flex-basis: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.thirdcard{
    flex-basis: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}


@media screen and (max-width: 765px){
    .services{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 20px 0px;
    }
    .firstcard{
        width: 50%;
        margin-bottom: 30px;
    }
    .secondcard{
        width: 50%;
        margin-bottom: 30px;
    }
    .thirdcard{
        width: 50%;
        margin-bottom: 30px;
    }
    .servicescon{
        height: 100%;
    }
    .fillimg{
        height: 655px;
    }
}
@media screen and (max-width: 980px){
    .services{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .firstcard{
        width: 500px;
        margin-bottom: 40px;
    }
    .secondcard{
        width: 500px;
        margin-bottom: 40px;
    }
    .thirdcard{
        width: 500px;
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 514px){
    .firstcard{
        width: 300px;
        margin-bottom: 40px;
    }
    .secondcard{
        width: 300px;
        margin-bottom: 40px;
    }
    .thirdcard{
        width: 300px;
        margin-bottom: 40px;
    }
}