/* styles
 font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/
.nav{
    display: flex;
    width: 100%;
    height: 80px;
    flex-direction: row;
    top: 0;
    position: fixed;
    align-items: center;
    z-index: 9999;
    /*background-color: #008bb2;
    background-image: linear-gradient(to left, #008ab0, hsl(196,100%,15%));*/
    /*background-image: linear-gradient(to left, #008ab0, #006280);*/
}
ul{
    margin: 0;
    padding: 0;
}
.selected{
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    color: white;
}
.logo{
    flex-basis: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
}
.navitems{
    flex-basis: 40%;
    display: flex;
    align-items: center;
}
.Socialiconscon{
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Socialicons{
    margin-top: 10px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.list{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.listitem{
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}
.listitem:hover{
    color: hsl(43, 74%, 60%);
}
.logotext{
    margin-left: 5px;
}
.logotext > h1{
    color: white;
}


@media screen and (max-width: 950px) {
    .Socialiconscon{
        display: none;
    }
    .navitems{
        flex-basis: 60%;
        margin-left: 50px;
    }
    .list{
        width: 100%;
        justify-content: space-evenly;
    }
}
@media screen and (max-width: 690px) {
    .logoimg{
        width: 80px;
    }
}
@media screen and (max-width: 645px) {
    .logoimg{
        width: 80px;
    }
    .nav{
        justify-content: space-around;
    }
    .navitems{
        display: none;
    }
    .menu{
     padding-right: 10px;
     flex-basis: 60%;
     display: block; 
     display: flex;
     justify-content: flex-end;
    }
}
@media screen and (max-width: 500px) {
    .menu{
        flex-basis: 60%;
        padding-right: 10px;
    }
    .logoimg{
        width: 70px;
    }
}