.bottomnav{
    height: 80px;
    width: 100%;
    background-color: rgb(247, 243, 243);
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.iconscon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.contactbottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.servicesbottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.home:hover{
    transform: scale(1.05);
}
.about:hover{
    transform: scale(1.05);
}
.works:hover{
    transform: scale(1.05);
}
.servicesbottom:hover{
    transform: scale(1.05);
}
.contactbottom:hover{
    transform: scale(1.05);
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.works{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.fontnav{
    color: #6e6e6e;
}
.textnav{
    color: #6e6e6e;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 645px) {
    .bottomnav{
        display: flex;
    }
}